* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --text-color: #ddd;
  --bg-color: #111;
  --second_bg_color: #252525;
  --main-color: #f5c518;
  --secondary-color: #ddd;
  --shadow-color: #fff;
  --logo-font: 28px;
  --h2-font: 2.9rem;
  --p-font: 22px;
}

body {
  background-color: var(--second_bg_color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: var(--p-font);
}
.navbar {
  margin-bottom: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
  box-shadow: 2px 5px 10px var(--shadow-color);
}

.brand {
  color: var(--main-color);
  font-size: var(--logo-font);
  font-weight: 800;
}
.navbar-nav {
  display: flex;
}

.nav-item {
  list-style: none;
  margin-right: 25px;
}
.nav-item :hover {
  color: var(--main-color);
  text-shadow: 0px 1px var(--main-color);
}
.navbarScroll.navbarDark {
  background-color: var(--bg-color);
}

.imageAboutPage img {
  background-size: cover;
}
